/*----------------------------------------------------------------------------*\

	#Imports
	bower install https://github.com/dylanburkey/Sassination-2.0.git


\*----------------------------------------------------------------------------*/

@import "vendor/susy";
@import "vendor/fonts/titillium/titillium";
@import "styles/sass/config";
@import "styles/sass/extends/extends";
@import "styles/sass/functions/mixins";
@import "styles/sass/libs/normalize";

$default-space: 2em;
$default-space-small: 1em;
$content-font-size: 14px;

/**
 * Light Gray Variables
 */

 $light-gray: #F8F8F8;


%content-space {
	max-width: 98%;
	margin-left: auto;
	margin-right: auto;
}

/*----------------------------------------------------------------------------*\

	#Base Styles

\*----------------------------------------------------------------------------*/
@each $extend, $value in $extends {
	%#{$extend},
	.#{$extend}{
		@include font-size($value);
	}
}

/*----------------------------------------------------------------------------*\

	#Columns
	The column sizes established below are Mobile First. Add a Media Query
	for Desktop specific columns.

\*----------------------------------------------------------------------------*/

.col-1 {
	@include span(1 of 12);
}

.col-2 {
	@include span(2 of 12);
}

.col-3 {
	@include span(3 of 12);
}

.col-4 {
	@include span(4 of 12);
}

.col-5 {
	@include span(5 of 12);
}

.col-6 {
	@include span(6 of 12);
}

.col-7 {
	@include span(7 of 12);
}

.col-8 {
	@include span(8 of 12);
}

.col-9 {
	@include span(9 of 12);
}

.col-10 {
	@include span(10 of 12);
}

.col-11 {
	@include span(11 of 12);
}

.col-12 {
	@include span(12 of 12);
}

%first,
.first {
	@include first();
}

%last,
.last {
	@include last();
}

%top,
.top {
	margin-top: 0;
}

%bottom,
.bottom {
	margin-bottom: 0;
}

.opacity {
	background: #333;
	@include opacity(.8);
}


%td-none {
	text-decoration: none;
}

/*----------------------------------------------------------------------------*\

	#List Styles

\*----------------------------------------------------------------------------*/

%no-bullets {
	list-style-type: none;
}

%lists {
	list-style-position: inside;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}


.horizontal-nav {
	@extend %lists;
	@extend %no-bullets;
	li {
		display: inline;
		margin-right: $default-space;
	}
}

.vertical-nav {
	@extend %lists;
	li {
		margin-top: $default-space-small;
		margin-bottom: $default-space-small;
	}
}

.rem-size {
	@include rem-size(14px, height);
}


/*----------------------------------------------------------------------------*\

	#Rows

\*----------------------------------------------------------------------------*/

.row {
	margin-left: auto;
	margin-right: auto;
	@extend %pos_relative;
	@extend %cf;
	.h-small {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
	.h-medium {
		width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	.h-large {
		width: 98%;
		margin-left: 1%;
		margin-right: 1%;
	}

	@each $spacing, $value in $spacings {
		.m-#{$spacing}-vertical {
			@include rem-size($value, margin-top);
		}
		.m-#{$spacing}-horizontal {
			margin: 0 #{$value/2};
			margin: 0 rem($value/2);

		}

	}
}
/*----------------------------------------------------------------------------*\

	#

\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\

	#Groups

\*----------------------------------------------------------------------------*/

.group,
.cf,
.clearfix,
.clear {
	@extend %cf;
}



.group {
	@extend %pos_relative;
	@extend %cf;
}




/*----------------------------------------------------------------------------*\

	#Content-Containers

\*----------------------------------------------------------------------------*/

.content-container,
.content-container p {
	@extend %base-font;
}

.content-container {
	ul {
		@extend %lists;
	}
}
/*----------------------------------------------------------------------------*\

	#Headlines

\*----------------------------------------------------------------------------*/

@each $headline, $value in $headlines {
	.#{$headline}{
        @include font-size($value);
    }
}

.header {
	font-weight: $header-font-weight;
	text-transform: capitalize;
}

/*----------------------------------------------------------------------------*\

	#Ui

\*----------------------------------------------------------------------------*/


@each $color, $value in $colors {
	.ui-#{$color}{
		color: $value;
	}
	.ui-bg__#{$color}{
		background: $value;
	}
}


/*----------------------------------------------------------------------------*\

	#responsive-containers

\*----------------------------------------------------------------------------*/

.img-container {
	img {
		@include img(block);
	}
}

.media-container {
	@extend %pos_relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;

	.media-item,
	iframe,
	object,
	video {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		border: 0;
	}

}


/*----------------------------------------------------------------------------*\

	#Helpers

\*----------------------------------------------------------------------------*/

.hidden,
%hidden {
	display: none !important;
	visibility: hidden;
}


